<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pitches/new/">NEW PITCH</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('auth.login')}}">Login</a>
          </li>
      </ul>
    </div>
    {%if current_user.is_authenticated%}
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item" style="color: white">
              {{current_user.username}} is signed in
            </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('auth.logout')}}">Sign out {{current_user.username}}</a>
        </li>
      </ul>
    </div>
    {%endif%}
  </nav>